<a href="https://colab.research.google.com/github/Bhargav0803/ADS-Labs/blob/main/ADS_Lab_2_37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Crop_recommendation.csv')

In [ ]:
def generate_random_indices(rows, cols, num_indices):
    random_rows = np.random.choice(rows, num_indices, replace=False)
    random_cols = np.random.choice(cols, num_indices, replace=True)
    return random_rows, random_cols

num_missing_values = 200
rows_to_make_missing, cols_to_make_missing = generate_random_indices(df.shape[0], df.shape[1], num_missing_values)

for row, col in zip(rows_to_make_missing, cols_to_make_missing):
    df.iloc[row, col] = np.nan

# Display the DataFrame with missing values
print("DataFrame with Missing Values:")
print(df)

DataFrame with Missing Values:
          N     P     K  temperature   humidity        ph    rainfall   label
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536    rice
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537    rice
2      60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248    rice
3      74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034    rice
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340    rice
...     ...   ...   ...          ...        ...       ...         ...     ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507  coffee
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610  coffee
2197  118.0  33.0  30.0    24.131797        NaN  6.362608  173.322839  coffee
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293  coffee
2199  104.0  18.0  30.0    23.603016        NaN  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [ ]:
df = df.drop("label", axis=1)

In [ ]:
# 1. Fill missing values with the maximum value in the column
df_max = df.fillna(df.max())

print("\nCleaned Dataset - Max Value:")
print(df_max.head())

Cleaned Dataset - Max Value:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340

In [ ]:
# 2. Fill missing values with the minimum value in the column
df_min = df.fillna(df.min())

print("\nCleaned Dataset - Min Value:")
print(df_min.head())

Cleaned Dataset - Min Value:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340

In [ ]:
# 3. Fill missing values using k-means clustering
from sklearn.impute import KNNImputer
knn_imputer = KNNImputer(n_neighbors=2)
df_kmeans = pd.DataFrame(data=knn_imputer.fit_transform(df), columns=df.columns)
print("\nCleaned Dataset - K-means:")
print(df_kmeans.head())

Cleaned Dataset - K-means:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340

In [ ]:
# 4. Fill missing values with a fixed value (e.g., 0)
df_fixed_value = df.fillna(0)

print("\nCleaned Dataset - Fixed Value:")
print(df_fixed_value.head())

Cleaned Dataset - Fixed Value:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340

In [ ]:
# 5. Fill missing values with the most frequent value in the column
df_most_frequent = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

print("\nCleaned Dataset - Most Frequent Value:")
print(df_most_frequent.head())

Cleaned Dataset - Most Frequent Value:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340

In [ ]:
# 6. Fill missing values using linear interpolation
df_interpolated = df.interpolate()

# Display cleaned datasets
print("\nCleaned Dataset - Interpolated:")
print(df_interpolated.head())

Cleaned Dataset - Interpolated:
      N     P     K  temperature   humidity        ph    rainfall
0  90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1  85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2  60.0  55.0  44.0    23.004459  82.320763  7.840207  263.964248
3  74.0  35.0  40.0    26.491096  80.158363  6.980401  242.864034
4  78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340